
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet"
          href = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css" />
    <script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js">
    </script>
    <link rel = "stylesheet"
          href = "https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />

    <link href="//cdn.muicss.com/mui-0.9.38/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.38/js/mui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/postuser.js"></script>
    <script src="/js/postevent.js"></script>
    <script src="/js/searchevent.js"></script>
    <script src="/js/changeevent.js"></script>
    <script src="/js/addcomment.js"></script>
    <script src="/js/deletecomment.js"></script>

</head>

<body>
<!-- The drawer is always open in large screens. The header is always
   shown, even in small screens. -->
        <div class = "mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class = "mdl-layout__header">
        <!-- Top row, always visible -->
        <div class = "mdl-layout__header-row">
            <!-- Title -->
            <span class = "mdl-layout-title">TheatreERP</span>
            <span class = "mdl-layout-title">A mi kis "Nagy" dobásunk </span>
        </div>

        <!-- Tabs -->
        <div class = "mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href = "#scroll-tab-1" class = "mdl-layout__tab is-active">Esemény keresése</a>
            <a href = "#scroll-tab-2" class = "mdl-layout__tab">User hozzáadása</a>
            <a href = "#scroll-tab-3" class = "mdl-layout__tab">Esemeny hozzáadása</a>
        </div>
    </header>

    <div class = "mdl-layout__drawer">
        <span class = "mdl-layout-title">Theatre ERP</span>
        <nav class = "mdl-navigation">
            <a class = "mdl-navigation__link" href = "">Hasznalati szabalyzat</a>
            <a class = "mdl-navigation__link" href = "">Segitseg</a>
            <a class = "mdl-navigation__link" href = "/logout">Kijelentkezés</a>
        </nav>
    </div>

    <main class = "mdl-layout__content">
        <section>
            <div class = "page-content">
                <form id="update-event" th:object="${event}" method="post">

                    <div class="form-group">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                            <input th:required="required" title="Cím kezdődjön nagy betűvel"
                                   class="mdl-textfield__input"
                                   type="text" id="update-title" th:field= "*{title}"  name="title"/>
                            <label class="mdl-textfield__label" for="update-title" >Darab cime</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text"
                                   th:value="${event.getDescription()}"
                                   id="update-description" th:field= "*{description}"  name="description"/>
                            <label class="mdl-textfield__label" for="update-description">Leiras</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input th:required="required" class="mdl-textfield__input"
                                   th:value="${event.getLocation()}"
                                   type="text" th:field= "*{location}"  id="update-location" name="location"/>
                            <label class="mdl-textfield__label" for="update-location">Helyszin</label>
                        </div>

                        <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                            <!--&lt;!&ndash;pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"&ndash;&gt;-->
                            <!--<input  th:required="required"-->
                                    <!--title="Időformatum példa 16:20"-->
                                    <!--th:value="${event.getStartDateTime()}"-->
                                    <!--class="mdl-textfield__input" type="text" th:field= "*{startDateTime}"  id="update-startDateTime" name="startDateTime"/>-->
                            <!--<label class="mdl-textfield__label" for="update-startDateTime">Kezdes</label>-->
                        <!--</div>-->

                        <!--<div class = "mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                            <!--<input th:required="required" class = "mdl-textfield__input"-->
                                   <!--title="Időformatum példa 16:20"-->
                                   <!--th:value="${event.getEndDateTime()}"-->
                                   <!--type="text" rows ="3" id ="update-endDateTime" th:field ="*{endDateTime}"  name="endDateTime"/>-->
                            <!--<label class = "mdl-textfield__label" for = "position">Vege</label>-->
                        <!--</div>-->
                        <!--<div class = "mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                            <!--<input th:required="required" class = "mdl-textfield__input"-->
                                   <!--th:value="${event.getType()}"-->
                                   <!--type="text" rows ="3" th:field ="*{type}" id ="update-type" name="type"/>-->
                            <!--<label class = "mdl-textfield__label" for = "type">Tipus</label>-->
                        <!--</div>-->

                        <button type="submit" th:value="${event.getId()}"  id="update-id" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Uj esemeny hozzadasa</button>
                    </div>
                    <div th:each="position : ${event.getEmployeesInNumbersToEvent()}" >
                        <p th:text="${position.key}"></p>
                        <label th:for="user"> </label><input th:id="${position}" th:name="${position.key}" type="number" th:value="${position.value}" />
                    </div>
                </form>

            </div>
            <div id="divComment" th:class = "${event.getId()}">

                <form id="addComment">
                    <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class = "mdl-textfield__input" type="text" rows ="3" id ="comment" name="comment"/>
                        <label class = "mdl-textfield__label" for = "comment">Uj Komment</label>
                    </div>
                    <button  th:name="${roleString}" name="" type="button" id="addCommentButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Uj Komment</button>
                </form>
                <p>Korabbi kommentek</p>
                <div  th:each="comment : ${event.getComments()}">
                    <tr>
                        <td th:text="${comment.getDescription()}"></td>
                        <td th:text="${comment.getUser().getPosition()}"></td>
                        <td th:text="${comment.getEntryTime()}"></td>
                        <button id="deleteCommentButton"
                                type="button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                th:if="${comment.getUser().getPosition()} != ${roleString} "
                                th:name="${comment.getId()}">Komment törlése</button>
                        <!--<a th:href="@{'~/admin/comment/' + ${comment.getId()} + '/delete'}"-->
                                 <!--th:if="${comment.getUser().getPosition()} != ${roleString}"><i class="fa fa-eraser" aria-hidden="true"></i> Komment torlese</a>-->
                    </tr>
                </div>


            </div>
            <div id="searchDiv">
                <ul class="list-group">
                </ul>
            </div>
            </section>
    </main>
</div>

</body>
</html>