<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> modify </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container" th:each="user : ${allUsers}">
    <div class="row">
        <div class="col-sm-8 col-md-10">
            <div class="thumbnail">
                <!--<img class="pull-left bike-img" src="" th:attr="src=${bike.getPictureURL()}" alt="..."/>-->
                <div>
                    <h3 class="" th:text="${user.getFirstName() + ' ' + user.getSecondName()}"></h3>
                    <p class="pull-right"><a href="#" th:href="@{'~/' + ${user.getId()} + '/modify'}" class="btn btn-success" role="button">Change User</a></p>
                </div>
                <!--<h3>Price:</h3>-->
                <!--<p th:text="${bike.getPrice()} + ' USD/day'"></p>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>