<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> user details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
    <div th:if="${not #lists.isEmpty(errors)}">
        <div class="container" th:each="error : ${errors}">
            <p th:text="${error}"></p>
        </div>
        <p th:text="${savingTried}"></p>
        <form action="/add-new-user">
            <input type="submit" value="Ujrapobalom" />
        </form>
    </div>
    <div th:if="${ #lists.isEmpty(errors)}">
        <p th:text="${savingTried}"></p>
        <p th:text="${userDetails.getFirstName()}"></p>
        <p th:text="${userDetails.getLastName()}"></p>
        <p th:text="${userDetails.getEmailAddress()}"></p>
        <form action="/admin">
            <input type="submit" value="Vissza a fomenuhoz" />
        </form>
    </div>
</body>
</html>

